/*  */
.photo_detail {
    /* position: relative; */
    width: 90%;
    margin: auto;
    font-family: 'Space Mono', monospace;
}

.photo_detail h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 66px;
    line-height: 58px;
    width: 50%;
    padding: 40px 0;
}

.photo_detail h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2px;
}

.photo_detail a {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
}

.photo_detail .btn:hover a {
    color: #fff;
}

.photo_detail ul {
    width: 60%;
}

.photo_detail li {
    font-weight: 400; 
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.container__photo,
.photo__others {
    text-transform: uppercase;
}

.photo__info--description,
.photo__info--image {
    width: 50%;
    margin: 10px;
}

.photo__info--description {
    justify-content: flex-end;
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}

.photo__info--image img {
    object-fit: contain;
    /* Object-fit: cover; */
    align-content: center;
    text-align: center;
    width: 100%;    
    height: 100%;
    padding: 0 5px;
    transition: all .3s ease-in-out;
}

.photo__info--image img:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.photo__autres {
    padding: 80px 0 70px;
}

/*  */
.photo__contact {
    padding: 45px 0;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

/*  */
.photo__autres--images {
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.photo__autres--images img {
    width: 50%;
    height: 500px;
    Object-fit: cover;
    padding: 40px 0 70px;
}

.photo__autres .btn {
    margin: auto;
    width: 241px;
    padding: 6px;
}
